* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0; }

.header {
  height: 90vh +10vh;
  background-image: linear-gradient(to top, rgba(242, 112, 7, 0.486) 0%, rgba(130, 179, 222, 0.514) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.head {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff; }

.hamburguer {
  border: 2px solid;
  position: fixed;
  top: 30px;
  right: 30px;
  background: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }

.menu-navegacion {
  position: fixed;
  top: 0;
  width: 10vw;
  height: 80%;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 80%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  right: 0;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  text-align: center; }
  .menu-navegacion .menu-navegacion a {
    color: #fff;
    text-decoration: none; }

.spread {
  transform: translateX(0); }

.titulo {
  font-size: 70px;
  margin-bottom: 1px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  color: #F28D15;
  font-weight: bold; }

.copy {
  font-weight: bold;
  font-size: 50px;
  font-style: italic;
  align-content: space-around; }

.subtitulo {
  text-align: center;
  font-weight: 300;
  color: #F28D15;
  margin-bottom: 20px;
  font-size: 50px; }

.principales-contenedor {
  width: 95%;
  max-width: 1200px;
  overflow: hidden;
  padding: 5px 0; }

.principales {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(30px, auto);
  grid-column-start: initial;
  margin-left: 10px;
  margin-right: 10px; }
  .principales .img {
    width: 80%; }

.contenedor-nosotros {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 80%);
  text-align: justify; }
  .contenedor-nosotros img {
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top: 5px;
    align-items: center; }

.nuestro {
  text-align: center; }

.historia {
  margin-left: 5px;
  margin-right: 5px; }

.contenedor-servicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .contenedor-servicio .contenedor-servicio img {
    width: 40%; }

.trabajoequipo-servicio {
  width: 45%; }

.service {
  margin-bottom: 20px; }

.n-service {
  margin-bottom: 7px;
  color: #9f8ad0; }

.number {
  display: inline-block;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 80%);
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  color: #fff;
  font-weight: 700; }

.gallery {
  background: #F0EBEB; }

.contenedor-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px; }

.img-galeria {
  width: 30%;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  cursor: pointer; }

.imagen-light {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.534);
  transform: translate(100%);
  transition: transform .2s ease-in-out; }

.agregar-imagen {
  width: 60%;
  transform: scale(0);
  border-radius: 10px;
  transition: transform .3s .2s; }

.showImage {
  transform: scale(1); }

.show {
  transform: translate(0); }

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer; }

.experts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.cont-expert {
  width: 30%;
  text-align: center;
  margin-bottom: 20px; }
  .cont-expert img {
    display: block;
    margin: auto;
    width: 80%; }

.n-expert {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  font-weight: 400;
  font-family: cursive;
  color: #F79D00; }

footer {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 80%);
  padding-bottom: 0.1px; }

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 40px; }

.brand {
  font-weight: 500;
  color: #ffffff;
  font-size: 30px; }

.bajobrand {
  font-size: 20px;
  color: #ffffff; }

.social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end; }

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  color: #ffffff; }
  .social-media-icon i {
    font-size: 30px;
    line-height: 50px; }

h4 {
  color: #ffffff;
  font-size: 13px; }

@media screen and (max-width: 800px) {
  .menu-navegacion {
    width: 50vw; }
  .titulo {
    font-size: 40px; }
  .contenedor-servicio img {
    width: 80%;
    margin-bottom: 40px; }
  .checklist-servicio {
    width: 80%; }
  .service {
    margin-bottom: 30px; }
  .img-galeria {
    width: 45%; }
  .agregarImagen {
    width: 80%; }
  .cont-expert {
    width: 80%; }
  .footer-content {
    justify-content: center; }
  .social-media {
    width: 80%;
    justify-content: space-around; }
  .social-media-icon {
    margin-left: 0; }
  .contact-us {
    text-align: center;
    width: 80%;
    margin-bottom: 20px; } }

@media screen and (max-width: 500px) {
  .menu-navegacion {
    width: 65vw; }
  .hamburguer {
    top: 20px;
    right: 20px; }
  .titulo {
    font-size: 30px; }
  .subtitulo {
    font-size: 30px; }
  .img-galeria {
    width: 95%; }
  .agregar-imagen {
    width: 90%; }
  .social-media {
    width: 100%;
    justify-content: space-evenly; }
  .social-media-icon {
    margin-left: 0; }
  .contact-us {
    text-align: center;
    width: 95%;
    margin-bottom: 40px; } }
